#myNavbar {
	margin-bottom: 0;
}

.originSearchStyle {
    width: 500px;
    height: 45px;
    position: absolute;
    z-index: 2;
    left: 2%;
    top: 55px;
    box-shadow:0 1px 0 0 #ddd;
}

.destinationSearchStyle {
    width: 500px;
    height: 45px;
    position: absolute;
    z-index: 2;
    left: 2%;
    top: 95px;
    box-shadow:0 1px 0 0 #ddd;
}


.button {
	position: relative;
	top: 30px;
	left: -75px;
	display: inline-block;
	padding: 4px 10px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #008CBA;
	border: none;
	border-radius: 15px;
	box-shadow: 0 4px #999;
}

.button:hover {background-color: #006687}

.button:active {
	background-color: #008CBA;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.button {
	position: relative;
	/*top: 30px;*/
	/*left: -75px;*/
	display: inline-block;
	padding: 4px 10px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #008CBA;
	border: none;
	border-radius: 15px;
	box-shadow: 0 4px #999;
}

.button:hover {background-color: #006687}

.button:active {
	background-color: #008CBA;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.overlay {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	/*opacity: 0;*/
	z-index: 5;
	display: none;
}

.img_button {
	position: absolute;
	bottom: 25%;
	left: 10px;
	width: 75px;
	height: 75px;
	background: #fff;
	cursor: pointer;
	visibility: hidden;
}

.overlay:target {
	/*visibility: visible;*/
	display: block;
	/*opacity: 1;*/
}

.full_image {
	position: absolute;
	margin-left: auto;
	margin-right:auto;
}


.popup {
	margin: 100px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 100%;
	position: absolute;
	transition: all 5s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
	position: absolute;
	top: 5px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: red;
}

.popup .content {
	width: 70%;
	overflow: auto;
}

.popup .arrow-up {
  position: relative;
  right: 10px;
  width: 0; 
  height: 0; 
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  cursor: pointer;
  border-bottom: 35px solid black;
  visibility: hidden;
}


.popup .arrow-down {
  position: relative;
  right: 10px;
  top: 20px;
  width: 0; 
  height: 0; 
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  cursor: pointer;
  border-top: 35px solid black;
  visibility: hidden;
}


#myModal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*!* Modal Content/Box *!*/
/*.modal-content {*/
    /*background-color: #fefefe;*/
    /*margin: 15% auto; !* 15% from the top and centered *!*/
    /*padding: 20px;*/
    /*border: 1px solid #888;*/
    /*width: 50%; !* Could be more or less, depending on screen size *!*/
/*}*/

/*!* The Close Button *!*/
/*.close {*/
    /*color: #aaa;*/
    /*float: right;*/
    /*font-size: 28px;*/
    /*font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
    /*color: black;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
/*}*/
