<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href='https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://use.fontawesome.com/ab0e5a07df.js"></script>
      <script src='https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css" integrity="sha256-aNI8KR/Gy4Hb87gooy9+CAjWOeVdSA0S5sd9XMmj4Xo=" crossorigin="anonymous" />
  </head>
  <body style="height: 100%; padding-bottom: -10px;">
    <nav class="navbar-inverse navbar-static-top" role=navigation style="margin-bottom: 0;" bs-navbar>
            <div class="container" bs-collapse start-collapsed="true">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">UCR Map</a>

                    <button class="navbar-toggle" type="button" bs-collapse-toggle>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" bs-collapse-target>
                    <ul class="nav navbar-nav">
                        <li data-toggle="tooltip" data-placement="bottom" title="Home" data-match-route="/"><a href="/"><i class="fa fa-home fa-1x"></i></a></li>

                        <!-- Large modal -->
                        {% if user %}
                        <li>
                            <a data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </a>
                        </li>

                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                          <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <div>
                                      <!-- Nav tabs -->
                                      <ul class="nav nav-tabs nav-justified" role="tablist">
                                        <li role="presentation" class="active"><a href="#friends" aria-controls="friends" role="tab" data-toggle="tab">Friends</a></li>
                                        <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                      </ul>

                                      <!-- Tab panes -->
                                      <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="friends">
                                            <div class="form-group">
                                                <input type="text" id="current_friends" class="form-control" placeholder="Search friends">
                                            </div>
                                             <ul id="friends-list" class="list-group">

                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="search">
                                            <div class="form-group">
                                                <input type="text" id="sfriends" class="form-control" placeholder="Find new friends">
                                            </div>
                                            <ul id="search-list" class="list-group">

                                            </ul>
                                        </div>
                                      </div>

                                    </div>
                            </div>
                          </div>
                          </div>
                        </div>


                        <li><a><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        {% endif %}

                        {% if "Admin" in current_user.roles %}
                            <li data-toggle="tooltip" data-placement="bottom" title="Dashboard" data-match-route="/dashboard">
                                <a href="/dashboard">
                                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user %}
                            <li>
                            <p class="navbar-text navbar-right">
                                <a href="/logout/"> logout</a>
                            </p>
                            &nbsp;
                            <p class="navbar-text navbar-right">
                                {{ user.connections.full_name }}
                            </p>
                            </li>

                          {% else %}
                            <li>
                                <form action="{{ url_for('social.login', provider_id='google') }}" method="POST">
                                    <button type='submit' class="btn btn-danger">
                                        <span class="fa fa-google"></span>
                                    </button>
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function(data){
           socket.emit("get_all_friends")
        });

        // Handle search for new friends
        var inputBox = document.getElementById('sfriends');
        socket.on('names', function(data) {
            Object.keys(data).forEach(function(key) {
                var users = document.getElementById('search-list');
                users.innerHTML = "";
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var val = data[key];
                        var entry = document.createElement('li');
                        var button = document.createElement('button');
                        button.id = "myButton" + key;
                        button.className="btn btn-primary";
                        button.autocomplete = "off";
                        button.setAttribute('onclick', "socket.emit('add', {add: "+ key + "})");
                        button.appendChild(document.createTextNode("Add Friend"));
                        entry.className = "list-group-item";
                        entry.id = key;
                        entry.appendChild(document.createTextNode(val));
                        entry.appendChild(button)
                        users.appendChild(entry);

                    }
                }
            });
        });
        inputBox.onkeyup = function(){
            socket.emit('search', {search: inputBox.value});
        }

        // Handle display current friends
        var friend_list_box = document.getElementById('current_friends');
        socket.on('my_friends', function(data) {
            Object.keys(data).forEach(function(key) {
                var users = document.getElementById('friends-list');
                users.innerHTML = "";
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var val = data[key];
                        var entry = document.createElement('li');
                        entry.className = "list-group-item";
                        entry.id = key;
                        entry.appendChild(document.createTextNode(val));
                        users.appendChild(entry);

                    }
                }
            });
        });
        friend_list_box.onkeyup = function(){
            socket.send('get_friend');
        }
    </script>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </body>
</html>
