{% extends "base.html" %}
{% block content %}
    <table class="table table-striped">
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Options</th>
        </tr>
        {% for u in users %}
            <tr>
                <th>
                    {{ u.connections.user_id }}
                </th>
                <th>
                    {{ u.connections.full_name }}
                </th>
                <th>
                    <!-- Single button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pick Option <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                </th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}