{% extends "base.html" %}

{% block content %}

    <!-- Container -->
    <div class="container-fluid" style="height: 100%">

      <!-- Main Content-->
        <div class="row">
        <div id="map" style="width: 100%; height: 100%; position: absolute;">

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.2.0/mapbox-gl-directions.js'></script>
<script src="{{url_for('static', filename='js/awesomplete.js')}}" async></script>
<link rel='stylesheet' href="{{url_for('static', filename='css/awesomplete.css')}}" type='text/css' />
<link rel='stylesheet' href="{{url_for('static', filename='css/custom.css')}}" type='text/css' />
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.2.0/mapbox-gl-directions.css' type='text/css' />
        </div>

<div id='map'></div>
<div class='filter-ctrl'>
    <input id='filter-input' type='text' name='filter' placeholder='Search Destination' />
</div>

<script src="{{url_for('static', filename='js/mapbox.js')}}" async></script>
        </div>
      </div>



    </div> <!-- /container -->
{% endblock %}
