{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel='stylesheet'
      href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.2.0/mapbox-gl-directions.css'
      type='text/css'/>
<link rel='stylesheet' href="{{url_for('static', filename='css/awesomplete.css')}}" type='text/css'/>
<link rel='stylesheet' href="{{url_for('static', filename='css/custom.css')}}" type='text/css'/>
{% endblock %}

{% block content %}

<!-- Container -->
<div class="container-fluid" style="height: 100%">

    <!-- Main Content-->
    <div class="row">
        <div id="map" style="width: 100%; height: 100%; position: absolute;">

            <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.2.0/mapbox-gl-directions.js'></script>
            <script src="{{url_for('static', filename='js/awesomplete.js')}}" async></script>
        </div>

        <div id='map'></div>
        <div class='destinationSearchStyle'>
            <input id='destination-input' type='text' name='destination' placeholder='Destination'/>
			<button class="button" id="route-button">Route!</button>
       </div>
        <div class='originSearchStyle'>
            <input id='origin-input' type='text' name='origin' placeholder='Current Location'/>
       </div>

	   <a  class='img_button' href="#img_popup">
		   <img id='button_img'  src=''>
		</a>
	   <div id="img_popup" class="overlay">
		   <div class="popup">
			   <h2 id="popup-header"></h2>
			   <a class="close" href='#'>x</a>
				<div id="floor-up" class="arrow-up"></div>
				<div id="floor-down" class="arrow-down"></div>
			   <div class="content">
				   <img id='full_image' src=''>
				</div>
			</div>
		</div>

		<div id="room_popup" class="overlay-1">
			<div class="popup">
			   <a class="close" href='#'>x</a>
				<input type='text' placeholder='Room #' />
			</div>
		</div>


    </div>
</div>

</div> <!-- /container -->
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='geojson/features.js')}}" async></script>
<script src="{{url_for('static', filename='js/map.js')}}" async></script>
{% endblock %}
